@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textPrimary: #121417;
  --textSecondary: #8a8a89;
  --accentPrimary: #9fbaae;
  --accentSecondary: #cbded3;
  --alarmColor: #de8f8f;
  --alarmColorLight: #de8f8f81;
}
body {
  font-family: "Roboto", "sans-serif";
  color: var(--textPrimary);
  background-color: #ffffff;
  padding-top: 20px;
}
.lock-scroll {
  overflow: hidden;
}

/* --- styles for React`s Select  --- */
.css-1wy0on6 {
  position: absolute;
  overflow: hidden !important;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
}
.css-hlgwow {
  padding: 0 !important;
  width: 80px;
  overflow: visible !important;
}
.css-19bb58m {
  visibility: hidden;
  position: absolute;
}
.css-1u9des2-indicatorSeparator {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
}
.price-Icon {
  position: relative;
}
.price-Icon::after {
  content: "$";
  font-weight: 500;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 38%;
}
/* --- end styles for React`s Select  --- */

h1 {
  font-size: 40px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: -1px;
}
p {
  font-size: 16px;
  line-height: 1.38;
}
.button-prima {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 700;
}

.button-popup {
  display: block;
  width: 100%;
  padding: 16px 0;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--accentPrimary);
  transition: background-color 250ms linear;
  &:hover {
    background-color: var(--accentSecondary);
  }
}
.icon {
  width: 100%;
  height: 100%;
}
.input-popup {
  width: 100%;
  padding: 16px 18px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #1214172c;
  font-size: 16px;
  line-height: 1.38;
  color: var(--textPrimary);
  outline: none;
  &:focus {
    background-color: #cbded34c;
  }
}

.error-popup {
  position: absolute;
  top: 4px;
  right: 8px;
  color: var(--alarmColor);
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .input-popup {
    padding: 8px 10px;
    font-size: 12px;
  }
  .error-popup {
    font-size: 10px;
  }
  .button-popup {
    padding: 12px 0;
  }
  .error-popup {
    top: -12px;
  }
  .button-prima {
    font-size: 1em;
    line-height: 1.4;
    font-weight: 600;
  }
}
.highlight {
  position: relative;
  font-style: italic;
  font-weight: 400;
  z-index: 11;
  &::after {
    content: " ";
    background-color: var(--accentSecondary);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
    width: 105%;
    height: 0.8em;
    z-index: -1;
  }
}
.custom-border {
  position: relative;
}

.custom-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%239fbaae' stroke-width='4' stroke-dasharray='10%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 30px;
  background-size: 100% 100%;
  pointer-events: none;
}
